@use '../abstracts/' as abs;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px/16px 62,5%
}

body {
  font-family: abs.$font-family-400, sans-serif;
  min-height: 100vh;
}

@media (min-width: 75em) {
  html {
    font-size: 70%;
  }
}
