@use '../sass/abstracts/' as abs;

.footer {
  text-align: center;

  .footer-nav {
    margin-bottom: 2rem;

    &__links-list {
    }

    &__list-item {
      display: inline-block;
      border-radius: 100%;
      border: 2px solid rgba(abs.$color-neutral-100, 0.3);
      transition: all 0.3s;

      // using overflow to hide the overflowing anchor background
      overflow: hidden;

      // make some space without the last element
      &:not(:last-child) {
        margin-right: 1rem;
      }

      &:hover {
        // make the icons bigger
        transform: scale(1.2);
      }
    }

    &__link {
      padding: 0.7rem 1rem;
      text-decoration: none;
      display: block;
      color: abs.$color-primary-400;
      font-size: 1.6rem;
      transition: all 0.3s;

      &:hover {
        background-color: abs.$color-primary-400;
        color: white;
      }
    }
  }

  &__copyrights {
    color: abs.$color-neutral-200;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
}
